<!DOCTYPE html>
<html lang="en">
<head>
	<title>Piscinas Jireh</title>
	<meta charset="utf-8">
	<meta name = "format-detection" content = "telephone=no" />
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery.js"></script>
	<script src="js/jquery-migrate-1.2.1.js"></script>
	<!--[if (gt IE 9)|!(IE)]><!-->
	<script src="js/jquery.mobile.customized.min.js"></script>
	<script src="js/wow/wow.js"></script>
	<script>
		$(document).ready(function () {
			if ($('html').hasClass('desktop')) {
				new WOW().init();
			}
		});
	</script>
	<!--<![endif]-->



	<!--[if lt IE 8]>
  <div id="ie6-alert" style="width: 100%; text-align:center;">
    <img src="http://beatie6.frontcube.com/images/ie6.jpg" alt="Upgrade IE 6" width="640" height="344" border="0" usemap="#Map" longdesc="http://die6.frontcube.com" />
      <map name="Map" id="Map"><area shape="rect" coords="496,201,604,329" href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank" alt="Download Interent Explorer" /><area shape="rect" coords="380,201,488,329" href="http://www.apple.com/safari/download/" target="_blank" alt="Download Apple Safari" /><area shape="rect" coords="268,202,376,330" href="http://www.opera.com/download/" target="_blank" alt="Download Opera" /><area shape="rect" coords="155,202,263,330" href="http://www.mozilla.com/" target="_blank" alt="Download Firefox" />
        <area shape="rect" coords="35,201,143,329" href="http://www.google.com/chrome" target="_blank" alt="Download Google Chrome" />
      </map>
  </div>
  <![endif]-->
  <!--[if lt IE 9]>
  	<script src="js/html5shiv.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
  <![endif]-->
  <style type="text/css">
	  .more_btn{
	  	background: white;
	    color: #0dceea;
	    margin-bottom: 50px;
	  }

	  .more_btn_blue{
	  	background: #0dceea;
	    color: white;
	    margin-bottom: 50px;
	  }
	  ul li img {
	  	max-height: 50px;
    	max-width: 250px;
	  }



/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


.imgtab {
	max-width: 150px;
}


.tabcontent {
    text-align: left;
}

.tabcontent div div p {
	color: white;
}


.box-5 {
    background: #fff;
    color: #0dceea;
}

.box-5:before {
    background: none;
}

#content {
    background: #0dceea;
}




  </style>

</head>

<body>

	<!--========================================================
														HEADER 
	=========================================================-->
	<header id="" style="background: url(<%= img_bg1 %>) 50% 0 no-repeat #3a3a3a;">
		<div id="stuck_container">
			<div class="container">
					<nav>
						<ul class="sf-menu">
							<li class="current"><a href="index">Jireh<strong></strong></a></li>
							<li><a >Servicios<strong></strong></a>
								<ul class="submenu">
									<li><a href="servicios-construccion">Construcción</a></li>
									<li><a href="servicios-remodelacion">Remodelación</a></li>
									<li><a href="servicios-mantenimiento">Mantenimiento</a></li>
								</ul>
							</li>
							<li><a href="productos">Catálogo<strong></strong></a></li>
							<li><a href="nosotros">Nosotros<strong></strong></a></li>
							<li><a>Proyectos<strong></strong></a>
								<ul class="submenu">
									<li><a href="proyectos-construccion">Construcción</a></li>
									<li><a href="proyectos-remodelacion">Remodelación</a></li>
								</ul>
							</li>
							<li id="last-li"><a href="contactar">Contactar<strong></strong></a></li>
						</ul>
					</nav>

					<h1 class="marTop1"><a href="index"><img src="images/logos/JIREH logo blanco-01.jpg" alt="logo" style="max-width: 320px;"></a> </h1>
			</div>
		</div>
	</header>
	<!--========================================================
														CONTENT 
	=========================================================-->
	<div class="box-5 v2">
		<div class="line-break-header">
		</div>
			<div class="container">
				<h2 class="txt_cntr"><span class="bold titulo_1"></span></h2>

				<div class="row marTop15">

					<p style="color: #10aec5;" class="titulo_1_subtitulo_1">
						<!-- Jireh cuenta con acceso a todos los fabricantes de diversas marcas a nivel mundial y contamos con los
						representantes autorizados en el mercado costarricense. -->
					</p>
					<p style="color: #10aec5;" class="titulo_1_subtitulo_2">
						<!-- Estamos en capacidad de proveer toda la gama de equipos disponibles en el mundo, que incluyen las normas para operar la mayoría de las piscinas presentes en nuestro mercado y también los de tecnología de punta como desinsectadores a base de sal que están destinados a proteger su salud y la del medio ambiente por no ser contaminantes. -->
					</p>
					<ul id="lightSlider" style="margin-top: 50px; padding: 70px;">

						<li><img class="imagen_1_url" src="<%= marca_1 %>"></li>
						<li><img class="imagen_2_url" src="<%= marca_2 %>"> </li>
						<li><img class="imagen_3_url" src="<%= marca_3 %>"></li>
						<li><img class="imagen_4_url" src="<%= marca_4 %>"></li>
						<li><img class="imagen_5_url" src="<%= marca_5 %>"></li>
					</ul>
    				<a href="contactar" class="more_btn more_btn_blue boton_1"></a>
					<br>
					<br>
					<!--div class="grid_4">

						<div class="wrapper marTop16">
							<figure class="">
								<a href="images/page4_big_pic1.jpg" class="magnifier2">
									<img src="images/page4_pic1.jpg" alt="">
									<span class="zoom"></span>
								</a>
							</figure>
							<h3 class="marTop18">Monitores</h3>
							<div class="wrapper">
								
								<div class="box">
									<p>Monitores automáticos de PH y niveles de desinfección. Entrega la cantidad exacta de productos químicos para mantener su piscina más transparente, más segura y lista para disfrutar.</p>
								</div>
							</div>
						</div>

						<div class="wrapper marTop16">
							<figure class="">
								<a href="images/page4_big_pic2.jpg" class="magnifier2">
									<img src="images/page4_pic2.jpg" alt="">
									<span class="zoom"></span>
								</a>
							</figure>
							<h3 class="marTop18">Bombas</h3>
							<div class="wrapper">
								
								<div class="box">
									<p style="margin-top: 5px;">Bombas de velocidad variable para cuidar sus instalación.  </p>
									<p style="margin-top: 5px;">Sistemas solares</p>
									<p style="margin-top: 5px;">Calentador solar, con paneles y accesorios, garantiza una instalación amigable con el ambiente.</p>
								</div>
							</div>
						</div>

						

					</div>





					<div class="grid_4">

						<div class="wrapper marTop16">
							<figure class="">
								<a href="images/page4_big_pic4.jpg" class="magnifier2">
									<img src="images/page4_pic4.jpg" alt="">
									<span class="zoom"></span>
								</a>
							</figure>
							<h3 class="marTop18">Controladores</h3>
							<div class="wrapper">
								
								<div class="box">
									<p>Controladores para piscinas y spas por separado o una combinación de piscina/spa con equipos compartidos.</p>
									<p></p>
								</div>
							</div>
						</div>

						<div class="wrapper marTop16">
							<figure class="">
								<a href="images/page4_big_pic5.jpg" class="magnifier2">
									<img src="images/page4_pic5.jpg" alt="">
									<span class="zoom"></span>
								</a>
							</figure>
							<h3 class="marTop18">Clorinador de Sal</h3>
							<div class="wrapper">
								
								<div class="box">
									<p>Controlador y celdas de la más alta calidad para todo tipo de proyecto.</p>
								</div>
							</div>
						</div>

						

					</div>







					<div class="grid_4">

						<div class="wrapper marTop16">
							<figure class="">
								<a href="images/page4_big_pic7.jpg" class="magnifier2">
									<img src="images/page4_pic7.jpg" alt="">
									<span class="zoom"></span>
								</a>
							</figure>
							<h3 class="marTop18">Iluminación focos Globrite</h3>
							<div class="wrapper">
								
								<div class="box">
									<p>Luces LED para sus piscinas y spas. Una forma creativa y económica de exhibir y mejorar los espacios.</p>
								</div>
							</div>
						</div>

						

						

					</div-->



				</div>
				
			</div>

		</div>






	<section id="content">

		

		<div class="line-break-header">
		</div>

		<div class="container" style="margin-bottom: 150px;margin-top: 120px;">

			<div class="row">

				
<p class="txt1" style="margin-bottom: 30px; color: white;"><span class="bold titulo_2"></span></p>

	
<div class="grid_12 bold400">
	<div class="tab">
	  <button id="defaultOpen" class="tablinks tab_1" onclick="openCity(event, 'Equipo de limpieza')"></button>
		<button class="tablinks tab_2" onclick="openCity(event, 'Bombas')"></button>
		<button class="tablinks tab_3" onclick="openCity(event, 'Filtros')"></button>
		<button class="tablinks tab_4" onclick="openCity(event, 'Iluminación')"></button>
		<button class="tablinks tab_5" onclick="openCity(event, 'Calefacción')"></button>
		<button class="tablinks tab_6" onclick="openCity(event, 'Automatización')"></button>
		<button class="tablinks tab_7" onclick="openCity(event, 'Clorinador de sal')"></button>
		<button class="tablinks tab_8" onclick="openCity(event, 'Vitrocerámica')"></button>
		<button class="tablinks tab_9" onclick="openCity(event, 'Químicos')"></button>
	</div>

	<div id="Equipo de limpieza" class="tabcontent">
	 	<div class="row">
			<div class="grid_2" style="">
				<img src="" alt="" class="img2 imgtab imagen_tab_1" >
			</div>
			<div class="grid_6" style="padding-top: 30px;">
				<p class="texto_tab_1">
					<!-- Todo lo necesario para realizar la limpieza constantes de su piscina, con los mejores accesorios del mercado. -->
				</p>
			</div>
		</div>
	</div>

<div id="Bombas" class="tabcontent">
	 	<div class="row">
			<div class="grid_2" style="">
				<img src="" alt="" class="img2 imgtab imagen_tab_2" >
			</div>
			<div class="grid_6" style="padding-top: 30px;">
				<p class="texto_tab_2">
				<!-- Todo en bombas para su piscina de la mejor calidad y menor gasto energético. -->
				</p>
			</div>
		</div>
	</div>

<div id="Filtros" class="tabcontent">
	 	<div class="row">
			<div class="grid_2" style="">
				<img src="" alt="" class="img2 imgtab imagen_tab_3" >
			</div>
			<div class="grid_6" style="padding-top: 30px;">
				<p class="texto_tab_3">
					<!-- La mejor filtración para su piscina, con marcas como Pentair y Hayward en filtros de arena y cartucho. -->
				</p>
			</div>
		</div>
	</div>

<div id="Iluminación" class="tabcontent">
	 	<div class="row">
			<div class="grid_2" style="">
				<img src="" alt="" class="img2 imgtab imagen_tab_4" >
			</div>
			<div class="grid_6" style="padding-top: 30px;">
				<p class="texto_tab_4">
					<!-- Focos, Bombillos, LED, otros, todo en iluminación para su piscina. -->
				</p>
			</div>
		</div>
	</div>

<div id="Calefacción" class="tabcontent">
	 	<div class="row">
			<div class="grid_2" style="">
				<img src="" alt="" class="img2 imgtab imagen_tab_5" >
			</div>
			<div class="grid_6" style="padding-top: 30px;">
				<p class="texto_tab_5">
					<!-- Calentadores eléctricos, solares y de gas para su piscina y/o spa. -->
				</p>
			</div>
		</div>
	</div>

<div id="Automatización" class="tabcontent">
	 	<div class="row">
			<div class="grid_2" style="">
				<img src="" alt="" class="img2 imgtab imagen_tab_6" >
			</div>
			<div class="grid_6" style="padding-top: 30px;">
				<p class="texto_tab_6">
					<!-- Facilidad y tranquilidad a la hora de manejar sus equipos de piscina y spa, desde su habitación, sala, cocina y/o desde su teléfono móvil. -->
				</p>
			</div>
		</div>
	</div>

<div id="Clorinador de sal" class="tabcontent">
	 	<div class="row">
			<div class="grid_2" style="">
				<img src="/" alt="" class="img2 imgtab imagen_tab_7" >
			</div>
			<div class="grid_6" style="padding-top: 30px;">
				<p class="texto_tab_7">
					<!-- Ahorre en el gasto de cloro, electricidad y mantenga el agua más sana al producir cloro inodoro e incoloro -->
				</p>
			</div>
		</div>
	</div>

<div id="Vitrocerámica" class="tabcontent">
	 	<div class="row">
			<div class="grid_2" style="">
				<img src="" alt="" class="img2 imgtab imagen_tab_8" >
			</div>
			<div class="grid_6" style="padding-top: 30px;">
				<p class="texto_tab_8">
					<!-- Cerámica española de la mejor calidad. -->
				</p>
			</div>
		</div>
	</div>

<div id="Químicos" class="tabcontent">
	 	<div class="row">
			<div class="grid_2" style="">
				<img src="" alt="" class="img2 imgtab imagen_tab_9" >
			</div>
			<div class="grid_6" style="padding-top: 30px;">
				<p class="texto_tab_9">
				<!-- Todos los químicos necesarios para su piscina, cloro, clarificador, floculante, sal, entre otros. -->
				</p>
			</div>
		</div>
	</div>



</div>
	<a href="contactar" class="more_btn boton_2"></a>
			</div>
		</div>



	</section>



	<!--========================================================
														FOOTER 
	=========================================================-->
		<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="grid_4 containerAddressFooter" style="text-align: left;">
					<p style="position: relative;top: 50px;">
						<a class="telefono">
						<!-- href="tel:+50622608273" -->
						
							<!-- +506 2260-8273 -->
						</a>
					</p>
					<p style="position: relative;top: 30px;">
						<!-- Heredia Centro frente Iglesia Corazón de Jesús -->
						<text class="direccion"></text>
						<a target="_top" class="correo"></a>
					</p>
				</div>
				<div class="grid_4 containerLogoFooter">
					<div class="grid_4">
						<img src="images/logos/JIREH logo-06.png" alt="" class="img2" >	
					</div>
					<div class="grid_4 copyrightjireh">
						<p class="txt_priv">Piscinas y Spas Jireh © <span id="copyright-year"></span><br><!--{%FOOTER_LINK} --></p>
					</div>
				</div>
				<div class="grid_4">
					<ul class="soc_icons">
						<li><a class="direccion_facebook" style="width: 60px;height: 60px;color: #fff;text-decoration: none;background: #0dceea;"><i class="fa fa-facebook" style="font: normal normal normal 32px/2 FontAwesome !important;"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>



<script src="js/script.js"></script>
<link type="text/css" rel="stylesheet" href="css/lightslider.css" />                  
<script src="js/lightslider.js"></script>

<script type="text/javascript">

	 $(document).ready(function(){
		// Initialize the gallery
		$('.magnifier2').touchTouch();

		var obj = { page: "Productos" };
		cargar(obj);
		
		var foot = { page: "Contactar" };
		cargar(foot);

	 });

	 	function cargar(obj){
		var json_text = JSON.stringify(obj, null, 2);

		$.ajax({
			url: '/api/user/getcmscontent',
			type: 'POST',
			contentType: 'application/json',
			data: json_text,
			success: function (response) {
				 // console.log("respuesta: " + response);
				if (response.message == "Records loaded successfully"){
					for (var i = 0; i < response.elements.length; i++) {
						switch(response.elements[i].campo){
							// CASOS ESPECIALES, QUE OCUPAN UN SPAN BOLD
							case "Mantenimiento_titulo_3_subtitulo_1":
							case "Mantenimiento_titulo_3_subtitulo_2": {
								var txt2 = response.elements[i].valor.search(":") !== -1 ? "<span class='bold'>" + response.elements[i].valor.replace(':', ':</span> ') : response.elements[i].valor;
								$("."+response.elements[i].campo).append(txt2);
								break;
							}
							// DIRECCIONES URL QUE NECESITAN SER INYECTADAS EN HREF.
							case "direccion_facebook": {
								$("."+response.elements[i].campo).attr('href', response.elements[i].valor);
								break;
							}
							case "correo": {
								$("."+response.elements[i].campo).attr('href', 'mailto:' + response.elements[i].valor);
								$("."+response.elements[i].campo).text(response.elements[i].valor);
								break;
							}
							case "telefono": {
								$("."+response.elements[i].campo).attr('href', 'tel:' + response.elements[i].valor);
								$("."+response.elements[i].campo).text(response.elements[i].valor);
								break;
							}
							// URL de Imágenes
/*							 case "imagen_1_url": case "imagen_2_url": case "imagen_3_url": case "imagen_4_url":
							 case "imagen_5_url":*/
							 case "imagen_tab_1": case "imagen_tab_2": case "imagen_tab_3":
							 case "imagen_tab_4": case "imagen_tab_5": case "imagen_tab_6": case "imagen_tab_7":
							 case "imagen_tab_8": case "imagen_tab_9": {
								$("."+response.elements[i].campo).attr('src', response.elements[i].valor);
								break;
							}

							// TEXTO RESTANTE && NORMAL
							default: {
								$("."+response.elements[i].campo).text(response.elements[i].valor);
								break;
							}
						}
					}
				}
			}
		});
	}

</script>

<script type="text/javascript">
$(document).ready(function() {
    $("#lightSlider").lightSlider({
        item: 3,
        autoWidth: false,
        slideMove: 1, // slidemove will be 1 if loop is true
        slideMargin: 10,
 
        addClass: '',
        mode: "slide",
        useCSS: true,
        cssEasing: 'ease', //'cubic-bezier(0.25, 0, 0.25, 1)',//
        easing: 'linear', //'for jquery animation',////
 
        speed: 400, //ms'
        auto: false,
        loop: false,
        slideEndAnimation: true,
        pause: 2000,
 
        keyPress: false,
        controls: true,
        prevHtml: '',
        nextHtml: '',
 
        rtl:false,
        adaptiveHeight:false,
 
        vertical:false,
        verticalHeight:500,
        vThumbWidth:100,
 
        thumbItem:10,
        pager: true,
        gallery: false,
        galleryMargin: 5,
        thumbMargin: 5,
        currentPagerPosition: 'middle',
 
        enableTouch:true,
        enableDrag:true,
        freeMove:true,
        swipeThreshold: 40,
 
        responsive : [],
 
        onBeforeStart: function (el) {},
        onSliderLoad: function (el) {},
        onBeforeSlide: function (el) {},
        onAfterSlide: function (el) {},
        onBeforeNextSlide: function (el) {},
        onBeforePrevSlide: function (el) {}
    });
});
</script>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}


document.getElementById("defaultOpen").click();
</script>
   

</body>
</html>